# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# Binaries
/bin/
/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
goauv3.code-workspace

# Build artifacts
*.o
*.a
